.main-header {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background-size: cover;
  background: url("../img/head.png") no-repeat center;
  .main-container {
    height: 100%;
  }
}
.main-header-coworking {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background-size: cover;
  background: url("../img/head2.png") no-repeat center;
  .main-container {
    height: 100%;
  }
}
.main-header-coaching {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background-size: cover;
  background: url("../img/head3.png") no-repeat center;
  .main-container {
    height: 100%;
  }
  .header-content {
    @media(max-width: 1024px) {
      text-align: right;
      width: calc(100% - 95px);
      margin-left: auto;
    }
  }
  .title-head {
    font-size: 80px;
    text-align: left;
    margin-bottom: 30px;
    @media(max-width: 1024px) {
      font-size: 36px;
      text-align: right;
    }
    @media (max-width: 768px) {
      font-size: 26px;
    }
    @media (max-width: 767px) {
      font-size: 26px;
    }
  }
  .title-desc {
    text-align: left;
    font-size: 20px;
    margin-bottom: 35px;
    @media(max-width: 1024px) {
      font-size: 18px;
      text-align: right;
    }
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
  .title-desc-big {
    color: #fff;
    font-size: 24px;
    text-align: left;
    margin-bottom: 40px;
    @media(max-width: 1024px) {
      font-size: 20px;
      text-align: right;
    }
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }
}
.header {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  &-content {
    text-align: right;
  }
}
.logo-link {
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  &:hover {
    color: #fff;
  }
}
.nav-list {
  display: flex;
  align-items: center;
  padding: 40px 0;
  &__item {
    margin-left: 30px;
    @media(max-width: 992px) {
      margin-bottom: 20px;
      margin-left: 0;
    }
  }
  @media(max-width: 992px) {
    position: fixed;
    right: -100%;
    opacity: 0;
    transition: ease-out .2s;
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: center;
  }
}
.nav-list.show {
  text-align: center;
  width: 50%;
  height: 100%;
  right: 0;
  opacity: 1;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  @media(max-width: 768px) {
    width: 100%;
  }
}
.nav-list__link {
  color: #fff;
  font-size: 16px;
  padding-bottom: 5px;
  &-tel {
    font-size: 20px;
    font-weight: 500;
  }
  &:hover {
    color: #fff;
    border-bottom: 1px solid #161dbe;
  }
}
.header-content {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 40px 0;
}
.title-head {
  color: #fff;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 10px;
  @media(max-width: 767px) {
    margin-bottom: 0;
  }
    &__small {
    font-weight: 400;
    @media(max-width: 767px) {
      display: block;
    }
  }
  @media(max-width: 1024px) {
    font-size: 36px;
  }
  @media(max-width: 768px) {
    font-size: 26px;
  }
  @media(max-width: 767px) {
    font-size: 20px;
  }
}
.title-desc {
  color: #fff;
  font-size: 16px;
  text-align: right;
}
.menu-toggle {
  display: none;
  width: 26px;
  height: 23px;
  position: absolute;
  top: 40px;
  right: 0;
  cursor: pointer;
  z-index: 3;
  @media(max-width: 992px) {
    display: block;
  }
}
.menu-toggle .one, .menu-toggle .three, .menu-toggle .two {
  width: 100%;
  height: 3px;
  background: #fff;
  margin: 4px auto;
  backface-visibility: hidden;
  transition-duration: .3s;
  display: block;
}
.menu-toggle.on .one {
  transform: rotate(45deg) translate(0, 1px);
}

.menu-toggle.on .one, .menu-toggle.on .three {
  margin: 8px auto;
}
.menu-toggle.on .two {
  opacity: 0;
}
.menu-toggle.on .three {
  transform: rotate(-45deg) translate(14px, -15px);
}
.socials-list-wrapp {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  &:before {
    content: "";
    top: 0;
    left: 0;
    height: 45%;
    width: 1px;
    background: #fff;
  }
  &:after {
    content: "";
    bottom: 0;
    left: 0;
    height: 45%;
    width: 1px;
    background: #fff;
  }
}
.socials-list {
  &__item {
    margin: 40px 0;
  }
  &__link {
    color: #fff;
    font-size: 22px;
    &-telegram:hover {
      color: blue;
    }
    &-whatsapp:hover {
      color: forestgreen;
    }
  }
}
.coaching-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 315px;
  position: relative;
  padding: 15px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  background: #161dbe;
  border: 1px solid transparent;
  transition: all .3s ease-in-out;

  &:hover {
    border-color: #fff;
    color: #fff;
  }
  @media (max-width: 1024px) {
    margin-left: auto;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}
