.main.coworking-page
    include ../includes/desc-coworking
    include ../includes/coworking-special-offer
    include ../includes/coworking-about
    include ../includes/resolution
    include ../includes/for-whom
    include ../includes/coworking-advantages
    include ../includes/coworking-price
    include ../includes/cost-rent
    include ../includes/coworking-box
    include ../includes/questions

