.main.coworking-page
    include ../includes/desc-coworking
    //include ../includes/direction-activity
    //include ../includes/about
    //include ../includes/advantages
    include ../includes/coworking-special-offer
    include ../includes/questions

