footer.footer
    .main-container
        .footer-content
            a.footer-logo(href="index.html") Custodianfund

            ul.footer-social
                li.footer-social__item
                    a.footer-social__link.footer-social__link-telegram(href="")
                        i.fab.fa-telegram-plane
                li.footer-social__item
                    a.footer-social__link.footer-social__link-whatsapp(href="")
                        i.fab.fa-whatsapp
        .footer-content
            ul.footer-nav
                li.footer-nav__item
                    a.footer-nav__link(href="") О компании
                li.footer-nav__item
                    a.footer-nav__link(href="") Направление деятельности компании
            a.footer-tel(href="") 8 (800) 600 49 45
            ul.footer-social-mob
                li.footer-social__item
                    a.footer-social__link.footer-social__link-telegram(href="")
                        i.fab.fa-telegram-plane
                li.footer-social__item
                    a.footer-social__link.footer-social__link-whatsapp(href="")
                        i.fab.fa-whatsapp





include modals
script(src="libs/jquery/jquery-3.4.1.min.js")
script(src="libs/fontawesome-pro/svg-with-js/js/fontawesome-all.js")
script(src="js/common.js")

