header.main-header
    .main-container
        .header
            .socials-list-wrapp
                ul.socials-list
                    li.socials-list__item
                        a.socials-list__link.socials-list__link-telegram(href="")
                            i.fab.fa-telegram-plane
                    li.socials-list__item
                        a.socials-list__link.socials-list__link-whatsapp(href="")
                            i.fab.fa-whatsapp
            a(href="").logo-link Custodianfund
            .menu-toggle
                span.one
                span.two
                span.three
            nav.main-nav
                ul.nav-list
                    li.nav-list__item
                        a.nav-list__link  О компании
                    li.nav-list__item
                        a.nav-list__link Направление деятельности компании
                    li.nav-list__item
                        a.nav-list__link.nav-list__link-tel 8 (800) 600 49 45
            .header-content
                h1.title-head Custodian
                    span.title-head__small fund
                p.title-desc Сеть гибких рабочих пространств и комплексных услуг для бизнеса
