header.main-header
    .main-container
        .header
            a(href="").logo-link Custodianfund
            .menu-toggle
                span.one
                span.two
                span.three
            nav.main-nav
                ul.nav-list
                    li.nav-list__item
                        a.nav-list__link  О компании
                    li.nav-list__item
                        a.nav-list__link Направление деятельности компании
                    li.nav-list__item
                        a.nav-list__link.nav-list__link-tel 8 (800) 600 49 45
            .header-content
                h1.title-head Custodian
                    span.title-head__small fund
