.main
    include ../includes/desc-index
    include ../includes/direction-activity
    include ../includes/about
    include ../includes/advantages
    include ../includes/special-offer
    include ../includes/questions
