@import "import/reset";
@import "import/fonts";
@import "import/settings";
@import "import/header";
@import "import/company";
@import "import/direction-activity";
@import "import/about";
@import "import/questions";
@import "import/advantages";
@import "import/special-offer";


@import "import/desc-coworking";
@import "import/coworking-about";
@import "import/coworking-spesial-offer";
@import "import/resolution";
@import "import/for-whom";
@import "import/coworking-advantages";
@import "import/coworking-price";
@import "import/cost-rent";
@import "import/coworking-box";
@import "import/offer-clients";

@import "import/coaching-statistic";
@import "import/coaching-for-whom";
@import "import/footer";
